<div>
	<h2>Player Details</h2>
	<table class="tables player-details">
		<thead>
			<tr>
				<th ng-click="vm.changeSorting('name')">Name</th>
				<th ng-click="vm.changeSorting('position')">Position</th>
				<th ng-click="vm.changeSorting('jerseyNumber')">Number</th>
				<th ng-click="vm.changeSorting('-marketValue | playerMarketValue')" class="sortDesc">Market Value</th>
			</tr>
		</thead>
		<tbody>
			<!--<tr ng-repeat="player in vm.players | orderBy: '-marketValue | playerMarketValue'">-->
			<tr ng-repeat="player in vm.players | orderBy: vm.sort.column : vm.sort.descending">
				<td>{{ player.name}}</td>
				<td>{{ player.position}}</td>
				<td>{{ player.jerseyNumber}}</td>
				<td>{{player.marketValue}}</td>
			</tr>
		</tbody>
	</table>
</div>
