<div class="flex-box">
<div class="dropdown">
  <div class="dropdown-container">
    <div>Choose League</div>
       <select ng-model="vm.selectedLeague" ng-change="vm.getLeagueTable()">
        <option ng-repeat="league in vm.leagues" value="{{league.id}}">{{league.name}}</option>
      </select>
  </div>
</div>
	<table class="tables">
		<thead>
			<tr>
				<th colspan="3">{{ vm.title }}</th>
			</tr>
		</thead>
		<tbody id="teamsTable">
			<tr ng-repeat="team in vm.tables" id="{{team._links.team.href | teamIDFilter}}" class="teamRow" ng-click="vm.getTeamDetails((team._links.team.href | teamIDFilter))">
				<td><img ng-src="{{ team.crestURI }}" ng-cloak/></td>
				<td>{{ team.teamName }}</td>
				<td>{{ team.points }}</td>
			</tr>
		</tbody>
	</table>
</div>
