$black-type: #4a4a4a;
$white-type:#fff;
$black-type-hover: #acacac;
$blue-link: #2bafe9;
$blue-link-hover: #008cc9;


$white-link-hover: #c2c2c2;
$grey-type: #BDBDBD;
$grey-eyebrow: #9c9d9d;
$grey-border: #d6d6d6; //authors underline
$grey-border-nav: #d4d4d4; // waiting for feedback before removing this permanently, used to be eaeaea
$grey-background-sidebar: #f4f4f4;
$dark-blue-background-hero: #213752;
$dark-blue-logo: #062c5c;
$top-bar-blue: #163051;
$nav-light-blue: #2aafe8;
$transparent: rgba(255,255,255,0);
$navBorderGray: #eaeaea;

$greenLink:#666600;
$greenLink-hover:#698C00;
$blue-grey: #D0D6DC;
$lightBlueBorder:#A6AFBA;
$greyLink:#ccc;
$lightestGrey:#E3E3E3;

$blue-button-hover: $greenLink-hover;