$black-type: #4a4a4a;
$white-type:#fff;
$black-type-hover: #acacac;
$blue-link: #2bafe9;
$blue-link-hover: #008cc9;


$white-link-hover: #c2c2c2;
$grey-type: #8e8a8a;
$grey-eyebrow: #9c9d9d;
$grey-border: #d6d6d6; 
$grey-background-sidebar: #f4f4f4;



